/* Paleta de colores №2569 paletadecolores.com	
#112236
#436280
#a3bad2
#dbe4ed
#ffffff
 */

html{
    scroll-behavior: smooth;
    background-color: #a3bad2;

    
}

::-webkit-scrollbar{
    display: none;
}
  
*{
    font-family: 'Montserrat', sans-serif;
   
}

a{
    text-decoration: none !important;
    color: white !important;
    font-family: 'Montserrat', sans-serif !important;
}
a:hover{
color: #34b0be !important;
}

.keychainify-checked{
    color: white;
}


.MuiMenu-root {
    min-width: 100px !important;
    font-family: 'Montserrat', sans-serif !important;
    color: white !important;
}

.MuiMenuItem-root{
    min-width: 100px !important;
    font-family: 'Montserrat', sans-serif !important;
    color: white !important;
}

.MuiButtonBase-root {
    min-width: 100px !important;
    font-family: 'Montserrat', sans-serif !important;
    color: white !important;
}



.MuiMenu-list{
    background-color:  #436280 !important;
}

#root{
    background-color: #242635;    
}

.MuiAppBar-colorPrimary{
    background-color: #436280 !important;
}

.navBar {
    display: flex;
    justify-content: end;
    flex-direction: row;
    background-color: #436280;
    height: 5rem;
      
}



.descripcion {
    justify-content: center !important;
    padding: 1% 10%;
}


.descargar {
    background-color: #436280 !important;
    border-radius: 20px !important;
    margin-left: 9% !important;
    color: white  !important;
    margin-top: 10%;
 
}
.descargar:hover,
.descargar:active {
    background-color: #112236 !important;
  }

.technologies-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.technology{
    gap: 50px;
    transition: .5 ease-in !important;
}

.technology:hover{
    transform: scale(1.1)
}

.technology-box{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.carrusel{
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
    gap: 50px !important;
    
}

/* .carousel-item{
    
    border: 2px solid red;
    border-radius: 10px;
    margin-top: 200px;
} */

video {
    width: 100%;
    height: 300px;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 80px;
  
    
  }

  .contact{
  text-align: center;
  width: 50%;
  height: 50%;
  justify-content: center;
  margin: 0 auto;
  }

  body{
display: flex; 
flex-direction: column;
justify-content: center;
width: 100%;
color: white !important;
font-family: 'Montserrat', sans-serif !important;
  }

  .title{
    color: #34b0be !important;
  }

  .footer{
    text-align: center;
    margin-top: .2in;

  }

  .profile{
width: 20%;
z-index: 100;
position: relative;
margin-top: -20%;
background-color: #43628070;
border-radius: 50%;
margin-left: 5%;
object-fit: cover;
}

.btn-icon {
    align-items: baseline;
    width: 35px;    
}

.btn-box{
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: space-evenly;
   align-items: flex-end;
   align-content: flex-end;
   margin-top: .5in;
}

.ws{
    width: 33px;
    height: 33px;
    position: fixed;
    margin-top: 30vh;
}

.name{
    font-family: 'Montserrat', sans-serif !important;
    margin-left: 8% !important;
}

.cajon{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    border-radius: 2em;
    
    gap: 2rem;
}

.cajon1{
    width: 40%;
}
.cajon2{
    width: 40%;    
}






@media screen and (max-width: 450px){
    .profile{
        width: 20%;
        z-index: 100;
        position: relative;
        margin-top: -65%;
        background-color: #43628070;
        border-radius: 50%;
        margin-left: 5%;
        object-fit: cover;
        }
}
@media screen and (max-width: 600px){
    .profile{
        width: 20%;
        z-index: 100;
        position: relative;
        margin-top: -35%;
        background-color: #43628070;
        border-radius: 50%;
        margin-left: 5%;
        object-fit: cover;
        }
}



@media screen and (max-width: 1200px){
    .profile{
        width: 20%;
        z-index: 100;
        position: relative;
        margin-top: -35%;
        background-color: #43628070;
        border-radius: 50%;
        margin-left: 5%;
        object-fit: cover;
        }
}

@media screen and (max-width: 1536px){
    .profile{
        width: 20%;
        z-index: 100;
        position: relative;
        margin-top: -20%;
        background-color: #43628070;
        border-radius: 50%;
        margin-left: 5%;
        object-fit: cover;
        }
}
